@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    background: #F4F4F7;
}


.video-content {
    position: relative;
    width: 100%;
    height: 100vh;
    margin-top: 0;
    min-height: 450px;
    overflow: hidden;
    z-index: 10;
    max-width: 1980px;
    max-height: 1080px;
    margin: 0 auto;

    @media (min-width: 768px) and (min-height: 420px) {
        height: calc(100vh - 70px);
        margin-top: 70px;
    }

    &__controls {
        position: absolute;
        bottom: 50px;
        left: 0;
        right: 0;
        z-index: 20;
    }

    &__controls2 {
        position: absolute;
        top: -8px;
        left: 0;
        right: 0;
        z-index: 20;
    }

    &__progress {
        width: 100%;
        height: 8px;
    }

    progress[value] {
        appearance: none; /* Needed for Safari */
        border: none; /* Needed for Firefox */
        color: #e52e71; /* Fallback to a solid color */
      }
      
    /* WebKit styles */
    progress[value]::-webkit-progress-value {
        background: #fff;
        transition: width 1s linear;
    }

    // progress[value="0"]::-webkit-progress-value {
    //     transition: none;
    // }
 
    /* Firefox styles */
    progress[value]::-moz-progress-bar {
        background: #fff;
    }
}

#myVideo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.navbar {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 0;
    width: 100%;    
    background: transparent;
    color: #fff;
    z-index: 100;

    @media (min-width: 768px) and (min-height: 420px){
        height: 70px;
        position: fixed;
        background: #3B3D4A;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 1900px;
        height: auto;
        padding: 0;
        margin: 0 auto;

        @media (min-width: 768px) and (min-height: 420px) {
            height: 70px;
            flex-direction: row;
            padding: 0 25px;
        }

        @media (min-width: 992px) {
            padding: 0 50px;
        }
    }

    &__logo {
        max-width: 180px;
        margin: 0 0 25px;

        @media (min-width: 768px) and (max-width: 991px) and (min-height: 420px) {
            margin: 0;
            max-width: 140px;
        }

        @media (min-width: 992px) {
            margin: 0;
        }
    }

    &__logo-icon {
        width: 100%;
    }

    &__description {
        font-size: 12px;
        max-width: 250px;
        margin-right: auto;
    }
}

.stopwar {   
    text-align: center;
    margin: 25px 0;

    @media (min-width: 768px) and (min-height: 420px) {
        margin: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    &__link {
        font-size: 12px;
        color: #fff;
        transition: color 0.3s ease;
        text-decoration: none;

        &:hover {
            .blue {
                color: rgb(100, 150, 255);
            }
            
            .yellow {
                color: rgb(255, 215, 0);
            }
        }
    }
}

.socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;

    &__item:not(:last-child) {
        margin-right: 45px;

        @media (min-width: 768px) and (max-width: 991px) {
            margin-right: 30px;
        }
    }
}

.video {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(29, 32, 39, 0.75);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;

    &__title {
        margin-top: 50px;
        font-size: 40px;
        margin-bottom: 20px;
    }

    &__description {
        display: flex;
        flex-direction: column;
        max-width: 900px;
        margin: auto;
        text-align: center;
        font-weight: 600;
        font-size: 18px;
        line-height: 140%;

        @media (max-height: 420px) and (orientation: landscape) {
            margin-top: 180px;
            font-size: 16px;
            max-width: 600px;
        }

        @media (min-width: 992px) {
            font-size: 25px;
        }
    }

    &__description-text {
        margin-bottom: 30px;

        @media (min-width: 992px) {
            margin-bottom: 40px;
        }
    }

    &__button {
        position: absolute;
        bottom: 80px;
        left: 25px;
        display: flex;
        width: 50px;
        height: 50px;
        border: none;        
        background: transparent;
        text-align: center;
        z-index: 20;

        &:hover {
            background: rgba(255, 255, 255, 0.1);
            cursor: pointer;
        }
    }

    &__button2 {
        display: flex;
        margin: 0 auto;
        width: 50px;
        height: 50px;
        border: none;        
        background: transparent;
        text-align: center;
        z-index: 20;

        &:hover {
            background: rgba(255, 255, 255, 0.1);
            cursor: pointer;
        }
    }

    &__button3 {
        position: absolute;
        bottom: 80px;
        left: 50%;
        transform: translate(-50%);
        display: flex;
        width: 50px;
        height: 50px;
        border: none;        
        background: transparent;
        text-align: center;
        z-index: 20;

        &:hover {
            background: rgba(255, 255, 255, 0.1);
            cursor: pointer;
        }
    }

    &__button-icon {
        width: 25px;
        margin: auto;
    }
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.tournaments {
    position: relative;
    z-index: 10;

    display: flex;
    flex-direction: column;
    margin: -30px 20px 0;
    max-width: 1250px;
    
    font-size: 20px;
    background: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;

    @media (max-width: 767px) {
        align-items: center;
    }

    @media (min-width: 1200px) {
        max-width: 1250px;
        padding: 60px 40px;
        margin: -30px auto 0;
    }
}

.tournament {
    margin: 0;
    display: flex;

    @media (max-width: 575px) {
        flex-direction: column;
        max-width: 360px;
        margin-bottom: 30px;
    }

    @media (min-width: 576px) and (max-width: 992px) {
        margin-bottom: 20px;
    }

    &__column {
        padding: 0;
        vertical-align: top;

        @media (max-width: 767px) {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }

        @media (min-width: 575px) and (max-width: 991px) {            
            &:not(:last-child) {
                margin-right: 20px;
            }
        }

        @media (min-width: 992px) {            
            padding: 20px 20px;
        }
    }
    
    &__image-columnn {
        width: 220px;
        height: 140px;
        overflow: hidden;
    }

    &__image {
        display: block;
        width: 100%;
        height: 170px;
        background-size: cover;
        border-radius: 5px;

        @media (min-width: 576px) {
            width: 160px;
            height: 90px;
        }

        @media (min-width: 992px) {
            width: 220px;
            height: 120px;
        }
    }
    
    &__day {
        display: block;
        font-size: 40px;
        text-align: right;
    }

    &__year {
        display: block;
        font-size: 30px;
        text-align: right;
    }

    &__title {
        margin-bottom: 5px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.4;
        color: #444655;

        @media (min-width: 992px) {
            font-size: 20px;
        }
    }

    &__num {
        margin-right: 8px;
    }

    &__desc {
        display: flex;
        flex-direction: column;
        color: #8487A0;
        font-size: 12px;
        line-height: 1.4;
        margin-bottom: 10px;

        @media (min-width: 768px) {
            flex-direction: row;
        }

        @media (min-width: 992px) {
            font-size: 14px;
        }
    }

    &__date {
        margin-right: 12px;
    }

    &__buttons {
        display: flex;
        flex-direction: column;

        @media (min-width: 576px) {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &__youtube_buttons {
        display: flex;
        flex-direction: column;

        .tournament-button:first-child {
            margin-right: 20px;
        }
    }
}

.tournament-button {
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    height: 30px;
    padding: 13px 10px;
    margin-bottom: 10px;
    border: 1px solid #D2DBF5;
    border-radius: 6px;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #2E4CA4;
    text-decoration: none;
    background: transparent;
    transition: background 0.3s ease;

    @media (max-width: 575px) {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    @media (min-width: 576px) and (max-width: 1199px) {
        margin-right: 15px;  
        margin-bottom: 10px;  
    }

    @media (min-width: 1200px) {
        padding: 5px 8px;
        font-size: 14px;
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    &:hover {
        cursor: pointer;
        background: #D2DBF5;
    }

    &:disabled,
    &[disabled] {
        cursor: default;
        border-color: #8487A0;
        color: #8487A0;
        background: none;
        opacity: .7;
    }

    &__icon {
        width: 15px;
        height: 15px;;
    }

    i {
        margin-right: 5px;
    }
}

.title {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
    color: #3B3D4A;

    @media (min-width: 768px) {
        font-size: 24px;
    }
}

.icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-photo {
    background-image: url('../img/icons/icon-photo.png');
}

.icon-table {
    background-image: url('../img/icons/icon-tornament.png');
}

.icon-video {
    background-image: url('../img/icons/icon-video.png');
}

.icon-teams {
    background-image: url('../img/icons/icon-teams.png');
}

.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px 0;
    text-align: center;
    font-size: 20px;
    line-height: 26px;

   @media (min-width: 1200px) {
        margin: 100px 0;
   }

    &__title {
        margin-bottom: 10px;
        font-size: 18px;

        @media (min-width: 992px) {
            font-size: 20px;
        }
    }

    &__socials {
        margin: 0 auto;
    }

    .socials__link {
        font-size: 20px;
        text-decoration: none;

        i:before {
            color: #4D4F60;
        }

        &:hover {
            opacity: .8;
        }
    }
}

.icon-vk,
.icon-youtube {
    font-size: 17px;
}

@keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
@keyframes slide-in {
    from {
        transform: translateY(-150px);
    }
    to {
        transform: translateY(0);
    }
}  

@import 'modal';
@import 'social-icons';